@model ISNP097024_ISNP153224_Unidad3.Models.Pelicula

@{
    ViewData["Title"] = "Create";
}


<h4>Nueva Pelicula</h4>
<hr />
<div class="row">
    <div class="col-12 col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autor" class="control-label"></label>
                <input asp-for="autor" class="form-control" />
                <span asp-validation-for="autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sinopsis" class="control-label"></label>
                <input asp-for="sinopsis" class="form-control" />
                <span asp-validation-for="sinopsis" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="clasificacion" class="control-label"></label>
                <input asp-for="clasificacion" class="form-control" />
                <span asp-validation-for="clasificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duracion" class="control-label"></label>
                <input asp-for="duracion" class="form-control" />
                <span asp-validation-for="duracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardado" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success">Regresar a la lista de Peliculas</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

